.navigation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  background-color: crimson;
  color: black;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navigation-links {
  display: flex;
  align-items: center;
}

.nav-link {
  display: flex;
  align-items: center;
  margin-right: 20px;
  text-decoration: none;
  color: white;
}

.nav-link svg {
  margin-right: 5px;
}

.nav-item-name {
  margin-top: 3px;
}

.badge {
  background-color: crimson;
  color: white;
  padding: 3px 5px;
  border-radius: 50%;
  font-size: 14px;
  margin-left: 5px;
}

.user-section .dropdown {
  position: relative;
}

.dropdown-toggle {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: white;
}

.dropdown-icon {
  width: 20px;
  height: 20px;
  margin-left: 5px;
  transition: transform 0.3s ease;
}

.dropdown-icon.open {
  transform: rotate(180deg);
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  color: white;
  list-style: none;
  padding: 10px 0;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.dropdown-menu li {
  padding: 10px;
}

.dropdown-menu li a,
.dropdown-menu button {
  color: black;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
}

.auth-links {
  display: flex;
}

.auth-link {
  display: flex;
  align-items: center;
  margin-right: 20px;
  text-decoration: none;
  color: white;
}

.auth-link svg {
  margin-right: 5px;
}

.username {
  margin-right: 5px;
}

/* Additional CSS to avoid content being hidden behind the fixed navbar */
body {
  padding-top: 100px; /* Adjust this value based on the height of your navbar */
}
